@model DepartmentDetailsDto

@{
    ViewData["Title"] = "Delete";
    ViewData["Id"] = Model.Id;
}

<h1>Are You sure to Delete this Department?</h1>

<br />
<br />

<partial name="Partials/DetailsDeleteDepartmentPartial" />


